html {
    user-select: none;
  }
body {
    background: rgb(136,203,171);
    background: linear-gradient(0deg, rgba(136,203,171,1) 0%, rgba(0,13,60,1) 100%);
    margin: 0;
    font-family: 'Merriweather', serif;
    color: #fff;
}
/*a top position*/
#top{
    position: absolute;
}
/*scroll to top button*/
#to-top{
    display: none;
    position: fixed;
    font-size: 18px;
    color: white;
    background-color: rgba(128, 128, 128, 0.507);
    bottom: 10px;
    right: 10px;
    border: none;
    outline: none;
    padding: 6px 11px;
    border-radius: 10px;
    z-index: 99;
    text-decoration: none;
}
/*make the unordered list scrollable*/
ul{
    margin-top: 50px;
    z-index: 1;
    height:160px;
    overflow: scroll;
    cursor: pointer;
}
/*hide the ul scrolling bar*/
ul::-webkit-scrollbar {
    display: none;
}
li{
    list-style-type: circle;
    padding: 0;
    margin: 0 auto;
}
li:hover{
    background-color: orange;
}
/*when hovering the scroll to top button*/
#to-top:hover{
    background-color: rgba(128, 128, 128, 0.712);
    cursor: pointer;
}
/*the new section button*/
#newsection{
    position: fixed;
    background-color: rgba(128, 128, 128, 0.507);
    border: none;
    outline: none;
    color: white;
    font-size: 22px;
    cursor: pointer;
    top: 0%;
    left: 0%;
    padding: 12px 22px;
    border-radius: 0px 0px 10px 10px;
    z-index: 99;
}
#newsection:hover{
    background-color: rgba(128, 128, 128, 0.397);
    transition: 1s ease;
}
.nav-section{
    text-decoration: none;
    color: white;
    font-size: 15px;
    outline: none;
    padding: 12px 22px;
}
.nav-section:hover{
    background-color: rgba(245, 98, 0, 0.486);
    transition: 1s ease;
}
.act{
    background-color: rgba(245, 98, 0, 0.637);
}
#sections{
    display: flex;
    position: fixed;
    top: 0em;
    right: 0px;
    z-index: 3;
}
#btn{
    display: none;
    background-color: orange;
    width: 100%;
    border: none;
    outline: none;
    font-size: 22px;
    color: white;
    cursor: pointer;
    padding: 12px 22px;
    border-radius: 0px 0px 10px 10px;
    z-index: 4;
}
#btn:hover{
    background-color: rgba(245, 98, 0, 0.486);
}
/*the dropdown menu*/
#ddc{
    display: none;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.178);
    position: absolute;
    text-align: left;
    flex-direction: column;
    right: 1px;
    margin: 0 auto;
    border-radius: 0px 0px 20px 20px;
}
.collapse{
    font-size: 40px;
    font-weight: bold;
    cursor: pointer;
}
h1 {
    font-family: 'Fira Sans', sans-serif;
    font-size: 3em;
    margin: 2em 1rem;
}
p{
    display: block;
    font-size: 18px;
}

@media only screen and (min-width: 35em){
    h1 {
        font-size: 7em;
        margin: 2em 4rem 1em;
    }
}
h2 {
    border-bottom: 1px solid #cc1;
    font-family: 'Oxygen', Sans-Serif;
    font-size: 3em;
    color: #fff;
}

p {
    line-height: 1.6em;
    color: #eee;
}
main {
    margin: 10vh 1em 10vh;
}
section {
    position: relative;
    min-height: 80vh;
}
.navbar__menu ul {
    padding-left: 0;
    margin: 0;
    text-align: right;
}

.navbar__menu li {
    display: inline-block;
}

.navbar__menu .menu__link {
    display: block;
    padding: 1em;
    font-weight: bold;
    text-decoration: none;
    color: #000;
}

.navbar__menu .menu__link:hover {
    background: #333;
    color: #fff;
    transition: ease 0.3s all;
}
.page__footer {
    background: #000;
    padding: 3em;
    color: #fff;
}
.page__footer p{
    color: #fff;
}
.landing__container {
    display: block;
    padding: 1em;
    text-align: left;
}

@media only screen and (min-width: 35em){
    .landing__container {
        max-width: 50em;
        padding: 4em;
    }
}
section:nth-of-type(even) .landing__container {
    right: 0;
    margin-right: 0;
    margin-left: auto;
    text-align: left; 
}

/* Background Circles */
/* Note that background circles are created with psuedo elements before and after */
/* Circles appear to be random do to use of :nth-of-type psuedo class */
section:nth-of-type(odd) .landing__container::before {
    content: '';
    background: rgba(255, 255, 255, 0.187);
    position: absolute;
    z-index: -5;
    width: 20vh;
    height: 20vh;
    border-radius: 50%;
    opacity: 0;
    transition: ease 0.5s all;
}

section:nth-of-type(even) .landing__container::before {
    content: '';
    background: rgb(255,255,255);
    background: linear-gradient(0deg, rgba(255,255,255,.1) 0%, rgba(255,255,255,.2) 100%);
    position: absolute;
    top: 3em;
    right: 3em;
    z-index: -5;
    width: 10vh;
    height: 10vh;
    border-radius: 50%;
    opacity: 0;
    transition: ease 0.5s all;
}

section:nth-of-type(3n) .landing__container::after {
    content: '';
    background: rgb(255,255,255);
    background: linear-gradient(0deg, rgba(255,255,255,.1) 0%, rgba(255,255,255,.2) 100%);
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: -5;
    width: 10vh;
    height: 10vh;
    border-radius: 50%;
    opacity: 0;
    transition: ease 0.5s all;
}

section:nth-of-type(3n + 1) .landing__container::after {
    content: '';
    background: rgb(255,255,255);
    background: linear-gradient(0deg, rgba(255,255,255,.1) 0%, rgba(255,255,255,.2) 100%);
    position: absolute;
    right: 20vw;
    bottom: -5em;
    z-index: -5;
    width: 15vh;
    height: 15vh;
    border-radius: 50%;
    opacity: 0;
    transition: ease 0.5s all;
}


/* ---- Theme State Rules ---- */
/* Section Active Styles */
/* Note: your-active-class class is applied through javascript. You should update the class here and in the index.html to what you set in your javascript file.  */
section.your-active-class {
    background: rgb(0, 0, 0);
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.479) 0%, rgba(0, 0, 0, 0.699) 100%);
}

section.your-active-class .landing__container::before {
    opacity: 1;
    animation: rotate 4s linear 0s infinite forwards;
}

section.your-active-class .landing__container::after {
    opacity: 1;
    animation: rotate 5s linear 0s infinite forwards reverse;
}
/*screen width for tablets*/
@media only screen and (max-width: 600px){
    #sections{
        width: 40%;
    }
    #newsection{
        width: 40%;
    }
    .nav-section{
        font-size: 14px;
    }
    p{
        font-size: 16px;
    }
}
/*screen width for smartphones in landscape view*/
@media only screen and (max-width: 480px){
    #sections{
        width: 50%;
    }
    #newsection{
        width: 50%;
    }
    .nav-section{
        font-size: 13px;
    }
    p{
        font-size: 14px;
    }
}
/*screen width for smartphones in potrait view*/
@media only screen and (max-width: 320px){
    #sections{
        width: 50%;
    }
    #newsection{
        width: 50%;
    }
    .nav-section{
        font-size: 12px;
    }
    p{
        font-size: 11px;
    }
}
/* Section Active Styles Keyframe Animations */
@keyframes rotate {
	from {
		transform: rotate(0deg)
		           translate(-1em)
		           rotate(0deg);
	}
	to {
		transform: rotate(360deg)
		           translate(-1em) 
		           rotate(-360deg);
	}
}
